####################################################################
# WhiteSource Unified-Agent generated configuration file
####################################################################
########################################################
# GENERAL SCAN MODE: Files and Package Managers
########################################################

resolveAllDependencies=false
archiveExtractionDepth=7
followSymbolicLinks=true
resolveAllDependencies=false
python.resolveDependencies=true
python.ignoreSourceFiles=false
python.ignorePipInstallErrors=true
python.installVirtualenv=true # set this parameter to true if using virtualenv to build the project
python.resolveHierarchyTree=false
python.resolveSetupPyFiles=true
python.runPipenvPreStep=false
python.IgnorePipenvInstallErrors=true
python.resolveGlobalPackages=false
python.path=python3
#------------------------------------------------------------------------
#------------------------ Fill in the parameters ------------------------
#------------------------------------------------------------------------

apiKey=
#Unique identifier of the organization. It can be retrieved from the 'Integrate' page in your WhiteSource account

productName=
#Name of the product to create or update

projectName=
#Name of the project to create or update

wss.url=
#URL to send the request to. Use the 'WhiteSource Server URL' which can be retrieved from your 'Profile' page on the 'Server URLs' panel. Then, add New configuration was created at the '/agent' path to it, 
#For example: "https://<domain>.whitesourcesoftware.com/agent".

#projectTag=
#Project tag, to refer to another project and apply the policies from there

#projectToken=
#Unique identifier of the project to update. It can be retrieved from the 'Integrate' page in your WhiteSource account

#---------------- File name patterns to search ----------------
includes=**/*.egg **/*.whl **/*.py